/*
NavBar.scss
Last Update: 4 Julio 
Alejandro
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

@mixin wide-screen {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 960px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 560px) and (max-width: 959px) {
    @content;
  }
}

@mixin sp {
  @media screen and (max-width: 559px) {
    @content;
  }
}

@mixin hamburger {
  @media screen and (max-width: 959px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans";
}

.header {
  display: flex;
  width: 100%;
  background-color: #0a2640;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  @include sp {
    height: 100px;
  }
  @include tab {
    height: 100px;
  }
  @include pc {
    height: 179px;
  }
  &__logo {
    display: inline-block;
    height: auto;
    text-decoration: none;
    color: #000;
    z-index: 1;
    @include sp {
      margin-left: 16px;
      font-size: 18px;
      letter-spacing: 0.07em;
    }
    @include tab {
      margin-left: 16px;
      font-size: 24px;
      letter-spacing: 0.05em;
    }
    @include pc {
      margin-left: 24px;
      font-size: 26px;
      letter-spacing: 0.05em;
    }
    @include wide-screen {
      margin-left: 100px;
    }

    &-ellipse {
      position: absolute;
      right: 0;
      top: 0;
      @include tab {
        display: none;
      }
      @include sp {
        display: none;
      }
    }

    &-ellipse-mobile {
      position: absolute;
      right: 0;

      @include pc {
        display: none;
      }
      @include tab {
        display: block;
      }
      @include sp {
        display: block;
      }
      &-image {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__nav-wrap {
    height: 100%;
    width: max-content;
    margin-left: auto;

    transition: all 1s ease-in-out;

    @include hamburger {
      position: fixed;
      left: 400px;
      top: 0;
      display: block;
      background-color: rgba(10, 38, 64, 1);
      width: 100%;
      height: 100%;
    }
    @include tab {
      position: fixed;
      left: 900px;
      top: 0;
      display: block;
      background-color: rgba(10, 38, 64, 1);
      width: 100%;
      height: 100%;
      transition: all 1.5s ease-in-out;
    }
    @include pc {
      display: inline-block;
      margin-right: 16px;
    }
    &.open {
      display: block;
      transform: translateX(-400px);
      @include tab {
        transform: translateX(-900px);
      }
    }
  }
  &__nav-list {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    @include hamburger {
      height: 100%;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      padding-top: 120px;
    }
    @include pc {
      display: flex;
      align-items: center;
    }
  }
  &__nav-item {
    width: max-content;
    @include sp {
      display: block;
      margin: 0 auto 0 28px;
      margin-bottom: 32px;
      text-align: center;
    }
    @include tab {
      display: block;
      margin: 0 auto 0 28px;
      margin-bottom: 40px;
      text-align: center;
    }
    @include pc {
      display: inline-block;
      margin-right: 24px;
    }
    @include wide-screen {
      margin-right: 40px;
    }
  }
  &__nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;

    @include hamburger {
      color: #fff;
    }
    &::after {
      position: absolute;
      bottom: -4px;
      left: -0.5px;
      content: "";
      width: 100%;
      height: 2px;
      transform: scale(0, 1);
      transform-origin: center top;
      transition-duration: 0.25s;
      @include hamburger {
        background-color: #fff;
      }
      @include pc {
        background-color: #fff;
      }
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }

  button:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 44px;
    right: -20px;
    transition: 0.5s;
  }

  button:hover:after {
    opacity: 1;
    right: 80px;
  }

  &__nav-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 40px;
    gap: 8px;

    width: 143px;
    height: 40px;

    background: #ffffff;
    border-radius: 24px;
    border: none;

    transition: background-color 1s ease-out;

    &__a {
      color: #18171c;
      transition: 0.5s;
    }

    &:hover {
      background-color: #d2d4d4;
    }

    @include sp {
      display: block;
      margin: 0 auto 0 28px;
      margin-bottom: 32px;
      text-align: center;
    }
    @include tab {
      display: block;
      margin: 0 auto 0 28px;
      margin-bottom: 40px;
      text-align: center;
    }
    @include pc {
      display: inline-block;
      margin-right: 24px;
      z-index: 1;
    }
    @include wide-screen {
      margin-right: 40px;
    }
  }

  &__nav-link-button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.15em;
    color: #0a2640;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    &:hover::after {
      transform: scale(1, 1);
    }
  }
}

.ham-menu {
  @include hamburger {
    display: inline-block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: 16px;
    z-index: 20;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s;
  }
  @include pc {
    display: none;
  }
  &__item {
    @include hamburger {
      display: inline-block;
      box-sizing: border-box;
      transition: all 0.3s;
      position: absolute;
      width: 24px;
      height: 2px;
      background-color: #fff;
      border-radius: 5px;
    }
    &:nth-of-type(1) {
      position: absolute;
      left: 24.75%;
      right: 73.58%;
      top: 28.57%;
      bottom: 71.43%;

      border: 1px solid #ffffff;
      transform: rotate(-180deg);
    }
    &:nth-of-type(2) {
      position: absolute;
      left: 24.75%;
      right: 73.58%;
      top: 57.14%;
      bottom: 42.86%;

      border: 1px solid #ffffff;
      transform: rotate(-180deg);
    }
    &:nth-of-type(3) {
      position: absolute;
      left: 45%;
      right: 74.17%;
      top: 42.86%;
      bottom: 57.14%;
      width: 16px;

      border: 1px solid #ffffff;
      transform: rotate(-180deg);
    }
  }
  &.active {
    border: none;
  }
  &.active .ham-menu__item:nth-of-type(1) {
    -moz-transform: translateY(7px) rotate(-45deg);
    -webkit-transform: translateY(7px) rotate(-45deg);
    transform: translateY(7px) rotate(-45deg);
    background-color: #fff;
  }
  &.active .ham-menu__item:nth-of-type(2) {
    -moz-transform: translateY(-5px) rotate(45deg);
    -webkit-transform: translateY(-5px) rotate(45deg);
    transform: translateY(-5px) rotate(45deg);
    background-color: #fff;
  }
  &.active .ham-menu__item:nth-of-type(3) {
    transition-duration: 0s;
    opacity: 0;
  }
}
