<!--
NavBar.vue
Last Update: 4 Julio 
Alejandro
-->

<template>
  <div class="hello">
    <header class="header">
      <a class="header__logo" href="#">
        <img alt="Vue logo" src="../assets/EY-logo.svg"
      /></a>
      <a class="header__logo-ellipse" href="#">
        <img alt="Vue ellipse" src="../assets/Ellipse.svg"
      /></a>
      <a class="header__logo-ellipse-mobile" href="#">
        <img
          class="header__logo-ellipse-mobile-image"
          alt="Vue ellipse2"
          src="../assets/Ellipsemobile.svg"
      /></a>
      <div
        class="ham-menu"
        @click="changeVisibility()"
        :class="{ active: burgerVisibility }"
      >
        <span class="ham-menu__item"></span>
        <span class="ham-menu__item"></span>
        <span class="ham-menu__item"></span>
      </div>
      <nav class="header__nav-wrap" :class="{ open: burgerVisibility }">
        <ul class="header__nav-list" @click="burgerVisibility = false">
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Product</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">Services</a>
          </li>
          <li class="header__nav-item">
            <a class="header__nav-link" href="#">About</a>
          </li>
          <button class="header__nav-button">
            <a class="header__nav-link-button" href="#">Log In</a>
          </button>
        </ul>
      </nav>
    </header>
  </div>
</template>

<script>
export default {
  name: "NavBar",
  props: {
    msg: String,
  },
  data() {
    return {
      burgerVisibility: false,
    };
  },
  methods: {
    changeVisibility() {
      this.burgerVisibility = !this.burgerVisibility;
    },
  },
};
</script>

<style lang="scss">
@import "./NavBar.scss";
</style>
